
      <div class="container">
        
      </div>
      <div class="container">
          <div class="row">
            
            <div class="col-sm">
                <form (ngSubmit) ="addTodo()">
                    <div class="form-group">
                      
                      <div class="input-group-prepend">
                        <input type="text" class="form-control" placeholder="Add Todo" name="todo" [(ngModel)] = "todo">
                        
                        <button type="submit" class="btn btn-primary"> Add </button>

                      </div>
                    </div>
                  </form>
                  <button (click)="deleteAllTodo()" class="btn btn-primary" > Clear </button>
        
            </div>
          </div>
          <div class="row">
              
              <div class="col-sm">
                  <p class="text-center">{{todo}}</p>
                </div>
          </div>
        </div>
   
<div>
<ol>
  <li *ngFor="let listItem of listContents">{{ listItem.text }}
      
    <button (click) = "deleteTodo(listItem)"class="btn btn-primary"> ✓ </button>
  </li>
</ol>
</div>